[alias]
	co = checkout
	st = status
	cm = commit
	br = branch
	cg = config
[user]
	naem = YoshinoriYamaguchi
	email = b1518292@planet.kanazawa-it.ac.jp
	name = YoshinoriYamaguchi
[core]
	editor = nvim -c \"set fenc=utf-8\"
	excludesFile = /home/yy/.gitignore
